
@{
    ViewData["Title"] = "Developers";
}

<h1 class="mt-3 text-center">About the Developers</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Callum Dodge</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Hello, my name is Callum Dodge and I'm a Computer Programming and Analysis Student at Seneca College. I'm a passionate programmer with an interest in web, game, and software development. 
                        In my free time, I'm mostly working as a line cook at East Side Mario’s, hanging with friends or developing my skills as a programmer.
                    </p>
                    <p>
                        Up until now, I've been creating many different projects using multiple frameworks and multiple languages. As of right now, I am currently in my last semester and so far I have learned
                        C/C++/C#, Java, MySQL, SQL using Oracle and DB2, and website development using Node.js, Vue, Handlebars, React, Angular, PHP, and ASP.NET/ASP.NET Core. For game development I have learned, 
                        making simple 2D/3D platformers in Unity and model design using 3DS Max. 
                    </p>
                </div>
            </div>

            <hr/>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="devLink" href="https://github.com/C067" >
                        <img src="~/Images/GitHub-Mark-64px.png" style="width:30%" />
                        <p>C067</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="devLink" href="https://www.linkedin.com/in/callum-dodge-307b21171" >
                        <img src="~/Images/LinkedIn.png" style="width:30%" />
                        <p>callum-dodge</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="devLink" href="https://www.instagram.com/callum_79328/" >
                        <img src="~/Images/Instagram.png" style="width:30%" />
                        <p>callum_79328</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/Callum.jpg" style="width:80%; height:52%" />
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Anshu Nair</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>Studying Computer Programming and Analysis at Seneca College.</p>
                    <p>After started developing video games as a hobby, I designed a working and balanced board game and then implemented it as a video game in Unity C#. Even with limited knowledge of the Unity IDE, I was able to adapt to it and use the basics to obtain results quickly. Currently learning advanced programming topics in Unity. </p>
                    <p>I just finished my 5th semester and so far we have learned C/C++, Java, node.JS/MongoDB, Angular (MEAN stack), ASP.NET, and SQL in IBM DB2 and Oracle.</p>
                </div>
            </div>

            <hr />

            <div class="row text-center">
                <div class="col-md-4">
                    <a class="devLink" href="https://github.com/anshunair">
                        <img src="~/Images/GitHub-Mark-64px.png" style="width:30%" />
                        <p>AnshuNair</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="devLink" href="https://linkedin.com/in/anshunair">
                        <img src="~/Images/LinkedIn.png" style="width:30%" />
                        <p>anshunair</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="devLink" href="https://twitter.com/Anshu_Nair">
                        <img src="~/Images/Twitter.png" style="width:30%" />
                        <p>Anshu_Nair</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/Anshu.jpg" style="width:80%" />
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">John Bae</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        John grew up in Seoul, Korea and then moved to Toronto, Canada to become a front-end web developer.
                        With his education from Seneca he was able to learn the skills necessary for web development and programming.
                        In his free time he can be found reading Japanese manga or watching his favourite tv show, How I met your Mother.
                    </p>
                </div>
            </div>

            <hr />

            <div class="row text-center">
                <div class="col-md-6">
                    <a class="devLink" href="https://github.com/JohnDownByTheBae">
                        <img src="~/Images/GitHub-Mark-64px.png" style="width:30%" />
                        <p>JohnDownByTheBae</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="devLink" href="https://www.linkedin.com/in/johnbae20/">
                        <img src="~/Images/LinkedIn.png" style="width:30%" />
                        <p>johnbae20</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/John.jpg" style="width:80%" />
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Eric Huynh</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Student at Seneca College, currently studying Computer Programming and Analysis.
                        Video game enthusiast and aspiring game developer. I am currently learning Unity C# but have had past experience developing a simple 3D game with visual scripting using Unreal Engine.
                        Throughout Seneca's courses I have previously learned object oriented skills in C++/Java, web development in Angular, SQL with Oracle and other various diagram modeling skills.
                    </p>
                </div>
            </div>

            <hr />

            <div class="row text-center">
                <div class="col-md-6">
                    <a class="devLink" href="https://github.com/Ehshark">
                        <img src="~/Images/GitHub-Mark-64px.png" style="width:30%" />
                        <p>Ehshark</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="devLink" href="https://www.linkedin.com/in/eric-huynh-238345162/">
                        <img src="~/Images/LinkedIn.png" style="width:30%" />
                        <p>eric-huynh</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/Eric.PNG" style="width:80%; height:65%" />
    </div>
</div>

<br />
<br />
<br />