
@{
    ViewData["Title"] = "Developers";
}

<h1 class="mt-3 text-center">About the Developers</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Callum Dodge</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Hello, my name is Callum Dodge and I'm a Computer Programming and Analysis Student at Seneca College. I'm a passionate programmer with an interest in web, game, and software development. 
                        In my free time, I'm mostly working as a line cook at East Side Mario’s, hanging with friends or developing my skills as a programmer.
                    </p>
                    <p>
                        Up until now, I've been creating many different projects using multiple frameworks and multiple languages. As of right now, I am currently in my last semester and so far I have learned
                        C/C++/C#, Java, MySQL, SQL using Oracle and DB2, and website development using Node.js, Vue, Handlebars, React, Angular, PHP, and ASP.NET/ASP.NET Core. For game development I have learned, 
                        making simple 2D/3D platformers in Unity and model design using 3DS Max. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/Aipom.png" style="width:80%" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Anshuman Nair</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>Studying Computer Programming and Analysis at Seneca College.</p>
                    <p>After started developing video games as a hobby, I designed a working and balanced board game and then implemented it as a video game in Unity C#. Even with limited knowledge of the Unity IDE, I was able to adapt to it and use the basics to obtain results quickly. Currently learning advanced programming topics in Unity. </p>
                    <p>I just finished my 5th semester and so far we have learned C/C++, Java, node.JS/MongoDB, Angular (MEAN stack), ASP.NET, and SQL in IBM DB2 and Oracle.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/Anshu.jpg" style="width:80%" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Jeongwoo Bae</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/DevImages/John.jpg" style="width:80%" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="devCard">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-white">Eric Huynh</h2>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                        Description about me Description about me Description about me Description about me Description about me Description about me Description about me
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img class="avatar mt-5" src="~/Images/default-avatar.png" style="width:80%" />
    </div>
</div>

<br />
<br />