
@{
    ViewData["Title"] = "About Game";
}

@*<h1>About The Game</h1>*@

<div class="imgContainer mt-5">
    <img src="~/Images/Stage.png" style="width:30%" />
    <div class="centered">
        <p>Overview</p>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="aboutCard">
            <p class="text-center">
                Imperium is a 2-player deckbuilding video game that focuses on delivering a gameplay experience similar to that of a Trading Card Game.

                In Imperium, both players use their heroes to buy and summon minions, which are used to attack each other. The minions available for recruiting are randomized at the start of every game, requiring players to adopt new strategies and tactics in order to overcome their opponents!

                Lastly, the game also features leveling up for your hero! Quest cards increase your hero's experience, which can then be used to unlock powerful abilities!
            </p>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="imgContainer">
    <img src="~/Images/Stage.png" style="width:45%" />
    <div class="centered" style="top:58%">
        <p>Deckbuilding in Imperium</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="aboutCard">
            <p class="text-center">
                Most deckbuilding games to date are physical games designed to accommodate 2-4 players. Board games must have simpler rules/gameplay compared to video games to accommodate for the lack of computer processing. Thus, even though deckbuilding games sound similar to TCGs, they offer a very different gameplay experience. 
                TCGs, on the other hand, are designed exclusively for 2 players and have been very successful as video games. 
                Imperium is designed for 2 players and aims to simulate the TCG experience as close as possible in a deckbuilding game format. The developers believe that Imperium is the first game to accomplish this.
            </p>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="imgContainer">
    <img src="~/Images/Stage.png" style="width:45%" />
    <div class="centered" style="top:58%">
        <p>Mechanics in Imperium</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="aboutCard">
            <p class="text-center">
                In most deckbuilding games, players would discard their entire hand at the end of their turn. In Imperium, they can keep the cards they don't use. This allows players to hold onto certain important cards for a later turn resulting in more strategic play.

                Unlike most deckbuilding games, Imperium imposes a resource cost for playing cards from the hand. Both players are assigned a hero at the start of the game giving them 5 resources to manage - health, mana, experience, abilities and gold. In most deckbuilding games, gold is the only manageable resource.

                The most important feature of a TCG is summoning soldiers to attack opponents with. Most deckbuilding games to date lack this mechanic but this is the heart of Imperium's gameplay.
            </p>
        </div>
    </div>
</div>

<br />
<br />