@{
    ViewData["Title"] = "Credit";
}

<div class="creditCard mt-5">    

    <div class="text-center">
        <h2>Thank You to these Amazing People that made this Game Possible!</h2>
    </div>

    <hr/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Game/Website Backgrounds</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="http://www.seekgif.com/backgrounds/game-background-hd-images.html">SeekGif</a></span>
        </div>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Game Assets</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/fantasy-rpg-icon-set-free-43810">Fantasy RPG Icon Set</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/fantasy-free-gui-147682">Fantasy Free GUI</a></span><br />
            <span><a class="devLink" href="https://game-icons.net">GameIcons</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/fonts/pixel-font-tripfive-64734">Pixel Font - Tripfive</a></span><br />
            <span><a class="devLink" href="https://www.freepik.com/free-vector/close-up-black-marble-background_3413197.htm#page=1&query=marble&position=0">Card Backgrounds</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/fantasy-wooden-gui-free-103811">Fantasy Wooden GUI</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/gui-parts-159068">GUI Parts</a></span><br />
        </div>
    </div>
</div>
