@{
    ViewData["Title"] = "Credit";
}

<div class="creditCard mt-5">    

    <div class="text-center">
        <h2>Thank You to these Amazing People that made this Game Possible!</h2>
    </div>

    <hr/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Website Backgrounds</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="http://www.seekgif.com/backgrounds/game-background-hd-images.html">SeekGif</a></span>
        </div>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Game Assets</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/fantasy-rpg-icon-set-free-43810">Fantasy RPG Icon Set</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/fantasy-free-gui-147682">Fantasy Free GUI</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/fonts/pixel-font-tripfive-64734">Pixel Font - Tripfive</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/fantasy-wooden-gui-free-103811">Fantasy Wooden GUI</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/gui-parts-159068">GUI Parts</a></span><br />
            <span><a class="devLink" href="https://assetstore.unity.com/packages/2d/gui/icons/gui-parts-159068">Unity UI Extensions</a></span><br />
        </div>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Game Artwork and Icons</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="https://game-icons.net">GameIcons</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/backgrounds-3">Game Backgrounds</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/oracle-portrait">Mage Portrait</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/scouting-dispatch">Rogue Portrait</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/young-knight-portrait">Warrior Portrait</a></span><br />
            <span><a class="devLink" href="https://www.deviantart.com/kipine/art/Fantasy-Wolf-free-to-use-751276075">Starter Minion Portrait</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/game-icons-of-fantasy-potions-pack-1">Essential and Starter Portraits</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/pouch-with-gold">Fetch Quest Portrait</a></span><br />
            <span><a class="devLink" href="https://opengameart.org/content/tresure-chest">Essential Fetch Quest Portrait</a></span><br />
        </div>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-6">
            <h5>Game Music</h5>
        </div>
        <div class="col-md-6">
            <span><a class="devLink" href="https://www.youtube.com/watch?v=eF52Y99nacY">Title Screen Theme (Endless Storm by Makai Symphony)</a></span><br />
            <span><a class="devLink" href="https://youtu.be/KTbrq7-7NTw">Gameboard Theme (Dragon War by Makai Symphony)</a></span><br />
        </div>
    </div>

    <br/>
</div>

<br />
<br />