
@{
    ViewData["Title"] = "Index";
}

<div class="container text-center mt-4" style="background-color: rgba(230, 215, 218, 0.90); border: 5px solid black; max-width: 800px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-family:'Game_Time'">Thank you for Downloading!</h1>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <h5>The external link will take you to a different host. From there, you can Download the latest version!</h5>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <h6>Choose which Platform to Download for:</h6>
        </div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col-md-4">
            <a class="text-decoration-none" href="#">
                <div class="container downloadLinks">
                    <img class="mt-4" src="~/Images/ms.png" alt="ms" width="75" />
                    <p class="text-white">Windows</p>
                    <br/>                
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a class="text-decoration-none">
                <div class="container comingSoonLink">
                    <p class="text-white">Coming Soon</p>
                    <img class="mt-2" src="~/Images/apple.png" alt="ms" width="75" />
                    <p class="text-white">Mac</p>
                    <br />
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a class="text-decoration-none">
                <div class="container comingSoonLink">
                    <p class="text-white">Coming Soon</p>
                    <img class="mt-2" src="~/Images/linux.png" alt="ms" width="65" />
                    <p class="text-white">Linux</p>
                    <br />
                </div>
            </a>
        </div>
    </div>

    <br/><br/>

</div>

