@model ImperiumSite.Models.LoginFormViewModel

@{
    ViewData["Title"] = "Login";
}

<div id="login">
    <h2 class="text-center pt-5">Login</h2>
    <hr />

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-8">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="submit" name="submit" class="btn btn-success btn-md" value="Login">
                                <a class="float-right" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
                            </div>
                        </div>
                        @if (Model.errorMessage != null)
                        {
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="alert alert-danger" role="alert">
                                        @Model.errorMessage
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

